@media screen and (max-width: 1285px) and (max-height: 891px) {
    .centerText h1 {
        line-height: 80px;
        font-size: 83px;
    }
    .container {
        gap: 55px;
    }
    .animation img {
        width: 100px;
    }
}
@media screen and (max-width: 675px) {
    .centerText {
        scale: .7;
    }
}
@media screen and (min-width: 1286px) and (max-height: 616px) {
    .centerText {
        scale: .6;
    }
    .animation img {
        width: 60px;
    }
    .container {
        gap: 0;
    }
    .topText {
        font-size: 15px;
    }
}
@media screen and (max-width: 608px) and (max-height: 546px) {
    .topText {
        font-size: 13px;
    }
    /* .centerText h1 {
        font-size: 53px;
        line-height: 50px;
    } */
    .animation img {
        width: 50px;
    }
}
@media screen and (max-width: 447px) {
    .container {
        gap: 0;
    }
    .text p {
        font-size: 17px;
    }
    .centerText h1 {
        font-size: 79px;
        line-height: 79px;

    }
    .animation img {
        width: 70px;
    }
}