@media screen and (max-height: 665px) {
    .centerText h1 {
        font-size: 100px;
        line-height: 100px;
    }
    .animation img {
        width: 100px;
    }
    .logo img {
        width: 280px;
    }
}
@media screen and (max-height: 549px) {
    .animation img {
        display: none;
    }
}
@media screen and (max-height: 466px) {
    .centerText h1 {
        font-size: 80px;
        line-height: 80px;
    }
    .animation img {
        width: 80px;
    }
}
@media screen and (max-width: 748px) {
    .centerText h1 {
        font-size: 100px;
        line-height: 100px;
    }
    .logo img {
        width: 280px;
    }
    .centerText {
        margin-top: 108px;
    }
    .animation img {
        width: 100px;
    }
}
@media screen and (max-width: 435px) {
    .centerText {
        scale: .8;
    }
    .animation img {
        width: 80px;
    }
    .logo img {
        width: 248px;
    }
    .logo {
        top: 10%;
    }
}
@media screen and (max-height: 549px) and (max-width: 748px) {
    .centerText {
        margin-top: 200px;
    }
}